{% extends 'app_advanced_search/adv_base.html' %}
{% load static %}
{% block head_script %}
<!-- keyword_assoc_引入CSS_nouislider -->
<link rel="stylesheet" href="{% static 'vendor/nouislider/nouislider.css' %}">
<!-- keyword_assoc_引入js_nouislider -->
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
<!-- keyword_assoc_引入js_wNumb，nouislider部分功能 -->
<script src="{% static 'vendor/nouislider/wNumb.min.js' %}"></script>
<!-- keyword_assoc_引入CSS_Choices-->
<link rel="stylesheet" href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %}">
<!-- keyword_assoc_引入js_Choices-->
<script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
{% endblock %}

{% block big_title %}{{keyword_assoc}}{% endblock %}
{% block small_title %}{{keyword_assoc}}{% endblock %}

{% block top_content %}
<!-- keyword_assoc_輸入條件 -->
<div class="col-lg-6">

    <div class="card">
        <div class="card-header">
            <h3 class="h4 mb-0">關鍵詞條件</h3>
        </div>
        <div class="card-body pt-0">
            <div class="d-flex justify-content-between align-items-center">
                <p class="text">請選擇欲查詢之關鍵詞及其條件</p>
                <small class="text-muted">此頁面統計數據來自???</small>
            </div>

            <form class="form-horizontal">
                <!-- keyword_assoc_關鍵字輸入框 -->
                <div class="row gy-2 mb-4">
                    <label class="col-sm-3 form-label" for="inputHorizontalElOne">查詢字詞</label>
                    <div class="col-sm-9">
                        <input class="form-control tags-input mb-0" type="text" value="" id="tagsInput"
                            data-customclass="form-control">
                    </div>
                </div>

                <div class="row gy-2 mb-4">
                    <label class="col-sm-3 form-label" for="inputHorizontalElTwo">新聞類別</label>
                    <div class="col-sm-9">
                        <select class="form-select" id="keyword_select">
                            <option value="全部" selected>如果你看到了我，說明請求選單的函數出錯了</option>
                            <option value="None">js沒收到選單</option>
                            <option value="None">所以沒更新默認html</option>
                        </select>
                    </div>
                </div>

                <div class="row gy-2 mb-4">
                    <label class="col-sm-3 form-label" for="inputHorizontalElTwo">搜索條件</label>
                    <div class="col-sm-9">
                        <div class="row" id="interest_row">
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" id="and" type="radio" name="search_type" checked>
                                    <label class="form-check-label" for="and">and</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" id="or" type="radio" name="search_type">
                                    <label class="form-check-label" for="or">or</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 ms-auto">
                        <button class="btn btn-secondary" id="interest_del" type="reset">清空</button>
                        <button class="btn btn-primary" id="interest_submit" type="button">查詢</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- keyword_assoc_查詢周次-->
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0 ">時間區間</h4>

        </div>
        <div class="card-body pt-0">

            <p class="mb-0 ">請透過此區調整欲查詢之時間寬度（周次）</p>
            <form>
                <div class="nouislider mt-5">
                    <div id="week_NoUISlider"></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block top_bar_Table %}
<!-- keyword_assoc_關聯文字雲 -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0 ">關聯文字雲</h4>

        </div>
        <div class="card-body">
            <div id="my_dataviz"></div>
        </div>

    </div>
</div>

<!-- keyword_assoc_以下新聞與它有關 -->
<div class="col-lg-6">
    <div class="card mb-0">
        <div class="card-header">
            <h3 class="h4 mb-0">以下新聞與它有關(取數篇展示)</h3>
        </div>
        <div class="card-body pt-0">
            <div class="table-responsive">
                <table class="table mb-0 table-striped table-sm">
                    <tbody id="assoc_newsTitle_tbody">
                        <tr style="display: none;"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- keyword_assoc_關鍵字所在的段落 -->
<div class="col-lg-6">
    <div class="card mb-0">
        <div class="card-header">
            <h3 class="h4 mb-0">關鍵字所在的段落(取數段展示)</h3>
        </div>
        <div class="card-body pt-0">
            <div class="table-responsive">
                <table class="table mb-0 table-striped table-sm">
                    <tbody id="assoc_newsContext_tbody">
                        <tr style="display: none;"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- keyword_assoc_與它同時出現的關鍵字 -->
<div class="card mb-0">
    <div class="card-header">
        <h3 class="h4 mb-0">與它同時出現的關鍵字</h3>
    </div>
    <div class="card-body pt-0">
        <div class="table-responsive">
            <table class="table mb-0 table-striped table-sm">
                <thead>
                    <tr>
                        <th>關鍵字</th>
                        <th>統計次數</th>
                        <th>關鍵字</th>
                        <th>統計次數</th>
                    </tr>
                </thead>
                <tbody id="assoc_words_tbody">
                    <tr style="display: none;"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- keyword_assoc_引入js_自定義js -->
<script src="{% static 'js\keyword_assoc.js' %}"></script>
<!-- keyword_assoc_引入js_d3js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- keyword_assoc_引入js_d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

{% endblock %}