.git
.gitignore
README.md
Dockerfile
.dockerignore
docker-compose.yml
.env
.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.idea/
.vscode/
staticfiles/
media/
