{% extends 'app_top_keyword/top_base.html' %}
{% load static %}
{% block head_script %}
<!-- user_interest_引入CSS_nouislider -->
<link rel="stylesheet" href="{% static 'vendor/nouislider/nouislider.css' %}">
<!-- user_interest_引入js_nouislider -->
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
<!-- user_interest_引入js_wNumb，nouislider部分功能 -->
<script src="{% static 'vendor/nouislider/wNumb.min.js' %}"></script>
<!-- user_interest_引入CSS_Choices-->
<link rel="stylesheet" href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %}">
<!-- user_interest_引入js_Choices-->
<script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
{% endblock %}

{% block big_title %}{{user_interest}}{% endblock %}
{% block small_title %}{{user_interest}}{% endblock %}

{% block top_content %}
<!-- user_interest_輸入條件 -->
<div class="col-lg-6">

    <div class="card">
        <div class="card-header">
            <h3 class="h4 mb-0">關鍵詞條件</h3>
        </div>
        <div class="card-body pt-0">
            <p class="mb-0">請選擇欲查詢之關鍵詞及其條件</p>
            <form class="form-horizontal">
                <!-- user_interest_關鍵字輸入框 -->
                <div class="row gy-2 mb-4">
                    <label class="col-sm-3 form-label" for="inputHorizontalElOne">查詢字詞</label>
                    <div class="col-sm-9">
                        <input class="form-control tags-input mb-0" type="text" value="" id="tagsInput"
                            data-customclass="form-control">
                    </div>
                </div>

                <div class="row gy-2 mb-4">
                    <label class="col-sm-3 form-label" for="inputHorizontalElTwo">新聞類別</label>
                    <div class="col-sm-9">
                        <select class="form-select" id="keyword_select">
                            <option value="全部" selected>如果你看到了我，說明請求選單的函數出錯了</option>
                            <option value="None">js沒收到選單</option>
                            <option value="None">所以沒更新默認html</option>
                        </select>
                    </div>
                </div>

                <div class="row gy-2 mb-4">
                    <label class="col-sm-3 form-label" for="inputHorizontalElTwo">搜索條件</label>
                    <div class="col-sm-9">
                        <div class="row" id="interest_row">
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" id="and" type="radio" name="search_type" checked>
                                    <label class="form-check-label" for="and">and</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" id="or" type="radio" name="search_type">
                                    <label class="form-check-label" for="or">or</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 ms-auto">
                        <button class="btn btn-secondary" id="interest_del"type="reset">清空</button>
                        <button class="btn btn-primary" id="interest_submit" type="button">查詢</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- user_interest_查詢周次-->
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0 ">時間區間</h4>

        </div>
        <div class="card-body pt-0">

            <p class="mb-0 ">請透過此區調整欲查詢之時間寬度（周次）</p>
            <form>
                <div class="nouislider mt-5">
                    <div id="week_NoUISlider"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- user_interest_引入js_自定義js-->
<script src="{% static 'js\user_interest.js' %}"></script>
{% endblock %}
{% block top_bar_Table %}
<!-- user_interest_出現頻率圖 -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div><strong>出現頻率圖</strong>
            <canvas id="keyword_barChart" class="chartjs-render-monitor"></canvas>
        </div>
    </div>
</div>

<!-- user_interest_按類統計-新聞次數 -->
<div class="col-lg-6">
    <div class="card mb-0">
        <div class="card-header">
            <h3 class="h4 mb-0">按類統計-新聞次數</h3>
        </div>
        <div class="card-body pt-0">
            <div class="table-responsive">
                <table id="interest_newsCount" class="table mb-0 table-striped table-sm">
                    <thead>
                        <tr>
                            <th>類別</th>
                            <th>有多少新聞報導提起</th>
                        </tr>
                    </thead>
                    <tbody id="interest_newsCount_tbody">
                        <tr style="display: none;"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- user_interest_按類統計-出現次數 -->
<div class="col-lg-6">
    <div class="card mb-0">
        <div class="card-header">
            <h3 class="h4 mb-0">按類統計-出現次數</h3>
        </div>
        <div class="card-body pt-0">
            <div class="table-responsive">
                <table id="interest_wordCount" class="table mb-0 table-striped table-sm">
                    <thead>
                        <tr>
                            <th>類別</th>
                            <th>單字出現次數</th>
                        </tr>
                    </thead>
                    <tbody id="interest_wordCount_tbody">
                        <tr style="display: none;"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}