{% extends "base.html" %}
{% load static %}
{% block apps_content %}

<!-- index_引入js_自定義js-->
<script src="{% static 'js\index.js' %}"></script>
<script src="{% static 'js\news_scraper.js' %}"></script>
<!-- index_引入CSS_nouislider -->
<link rel="stylesheet" href="{% static 'vendor/nouislider/nouislider.css' %}">
<!-- index_引入js_nouislider -->
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
<!-- index_引入js_wNumb，nouislider部分功能 -->
<script src="{% static 'vendor/nouislider/wNumb.min.js' %}"></script>
<!-- index_引入js_Mutli.js-->
<script src="{% static 'vendor/multi.js/multi.min.js' %}"> </script>
<!-- index_引入CSS_Mutli.js-->
<link rel="stylesheet" href="{% static 'vendor/multi.js/multi.min.css' %}">

<div class="page-content">
  <!-- index_頁面大標題-->
  <div class="bg-dash-dark-2 py-4">
    <div class="container-fluid">
      <h2 class="h5 mb-0">首頁</h2>
    </div>
  </div>
  <!-- index_頁面主板塊-->
  <section>
    <div class="container-fluid">
      <section>
        <div class="container-fluid">
          <div class="row gy-4">
            <!-- index_新聞收錄統計-->
            <div class="col-md-3 col-sm-6">
              <div class="card mb-0">
                <div class="card-body">
                  <div class="d-flex align-items-end justify-content-between mb-2">
                    <div class="me-2">
                      <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">新聞收錄數量</p>
                      <label id="latest_news_time" class="form-label">最新收錄時間：xxxx/xx/xx</label>
                    </div>
                    <p id="total_news" class="text-xxl lh-1 mb-0 text-dash-color-1">000</p>
                  </div>
                  <div class="progress" style="height: 3px">
                    <div id="total_news_bar" class="progress-bar bg-dash-color-1" role="progressbar" style="width: 1%"
                      aria-valuenow="50" aria-valuemin="0" aria-valuemax="10000"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6">
                      <div class="card mb-0">
                        <div class="card-body">
                          <div class="d-flex align-items-end justify-content-between mb-2">
                            <div class="me-2">
                                  <svg class="svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2">
                                    <use xlink:href="#stack-1"> </use>
                                  </svg>
                              <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">New Projects</p>
                            </div>
                            <p class="text-xxl lh-1 mb-0 text-dash-color-2">375</p>
                          </div>
                          <div class="progress" style="height: 3px">
                            <div class="progress-bar bg-dash-color-2" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="card mb-0">
                        <div class="card-body">
                          <div class="d-flex align-items-end justify-content-between mb-2">
                            <div class="me-2">
                                  <svg class="svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2">
                                    <use xlink:href="#survey-1"> </use>
                                  </svg>
                              <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">New Invoices</p>
                            </div>
                            <p class="text-xxl lh-1 mb-0 text-dash-color-3">140</p>
                          </div>
                          <div class="progress" style="height: 3px">
                            <div class="progress-bar bg-dash-color-3" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="card mb-0">
                        <div class="card-body">
                          <div class="d-flex align-items-end justify-content-between mb-2">
                            <div class="me-2">
                                  <svg class="svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2">
                                    <use xlink:href="#paper-stack-1"> </use>
                                  </svg>
                              <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">All Projects</p>
                            </div>
                            <p class="text-xxl lh-1 mb-0 text-dash-color-4">41</p>
                          </div>
                          <div class="progress" style="height: 3px">
                            <div class="progress-bar bg-dash-color-4" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div> -->
          </div>
        </div>
      </section>
    </div>
  </section>
  <!-- index_爬蟲控制區-->
  <section class="pt-0">
    <div class="container-fluid">
      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h3 class="h4 mb-0">新聞爬蟲控制區</h3>
            </div>
            <div class="card-body pt-0">
              <p class="text-sm d-flex justify-content-between">
                <span>爬蟲結合 <strong>celery</strong> 與 <strong>redis</strong> 於外部工作</span>
                <span>爬取網站：<a href="https://udn.com/news/index" target="_blank"
                    rel="noopener noreferrer">聯合新聞網</a></span>
              </p>
              <form>
                <div class="mb-3">
                  <div class="form-group">
                    <li class="form-label">請將希望爬取的類別置於右側</li>
                    <select id="news_scraper_category_set" multiple="multiple" name="news_scraper_category_set">
                      <option value="None"disabled>如果你看到了我，</option>
                      <option value="None"disabled>說明請求選單的函數出錯了</option>
                      <option value="None"disabled>js沒收到選單</option>
                      <option value="None"disabled>所以沒更新默認html</option>
                    </select>

                  </div>
                </div>
                <div class="mb-3">
                  
                  <li class="form-label">請選擇<a href="" style="pointer-events: none;">每類</a>欲爬取新聞數量</li>
                  <div class="nouislider mt-2">
                    <div id="news_scraper_each_gatNum"></div>
                  </div>
                  <div class="card-footer text-muted d-flex justify-content-between">
                    <span>本次爬取預計取得 <code id="news_scraper_HowCat">？</code> 類共 <code id="news_scraper_HowMany">？</code>
                      份新聞</span>
                    <span id="news_scraper_HowTime">預計耗時 <code >？</code> 秒</span>
                  </div>
                </div>

                <button id="news_scraper_category_reset" class="btn btn-secondary" type="button">取消已選類別</button>
                <button id="news_scraper_start" class="btn btn-primary ladda-button" type="button"
                  data-style="zoom-out"><span class="ladda-label">啟動</span><span class="ladda-spinner"></span></button>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

</div>
{% endblock %}