<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ANANews</title>
  <!-- base_設定_網站介紹，通常是搜尋引擎才會看 -->
  <meta name="description" content="學校作品：Django框架網站-ANANews">
  <!-- base_設定_依視窗比例自動排版網頁 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- base_設定_禁止爬蟲 -->
  <meta name="robots" content="noindex">
  <!-- base_引入css_Mulish，好看英文字體-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish:300,400,700">
  <!-- base_引入圖片_網站標籤的icon-->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <!-- base_引入CSS_模板自定義樣式-->
  <link rel="stylesheet" href="{% static 'css/style.default.premium.css' %}" id="theme-stylesheet">
  <!-- base_引入CSS_我的自定義樣式-->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>
  <!-- base_引入navbar -->
  {% include "navbar.html" %}
  <div class="d-flex align-items-stretch">
    <!-- base_引入sidebar -->
    {% include "sidebar.html" %}
    <!-- base_app複寫區塊_開始-->
    {% block content %}
    {% endblock %}
    <!-- base_app複寫區塊_結束-->
  </div>
  <footer class="position-absolute bottom-0 bg-dash-dark-2 text-white text-center py-3 w-100 text-xs" id="footer">
    <div class="container-fluid text-center">
      <p class="mb-0 text-dash-gray">&copy; 大數據分析實務 <a target="_blank" href="{% static 'img/author_icon.jpg' %}"
          title="作者">鄭宇哲</a>.C110134217</p>
    </div>
  </footer>


  <!-- bass_引入js_模板自定義功能-->
  <script src="{% static 'js/front.js' %}"></script>
  <!-- bass_引入js_bootstrap官方js庫-->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>