{% load static %}
<nav id="sidebar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center p-4"><img class="avatar shadow-0 img-fluid rounded-circle"
      src="{% static 'img/author_icon.jpg' %}" alt="作者圖片"></a>
    <div class="ms-3 title">
      <h1 class="h5 mb-1">鄭宇哲</h1>
      <p class="text-sm text-gray-700 mb-0 lh-1">C110134217</p>
    </div>
  </div><span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">主要</span>
  <ul class="list-unstyled">
    
    <li class="sidebar-item active"><a class="sidebar-link" href='/'>
        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
          <use xlink:href="#real-estate-1"> </use>
        </svg><span>首頁</span></a></li>

    <li class="sidebar-item"><a class="sidebar-link" href="#tablesDropdown" data-bs-toggle="collapse">
        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
          <use xlink:href="#portfolio-grid-1"> </use>
        </svg><span>熱門分析</span></a>
      <ul class="collapse list-unstyled " id="tablesDropdown">
        <li><a class="sidebar-link" href="http://{{ request.get_host }}/top/top_keyword">{{top_keyword}}</a></li>
        <li><a class="sidebar-link" href="http://{{ request.get_host }}/top/top_person">{{top_person}}</a></li>
        <li><a class="sidebar-link" href="http://{{ request.get_host }}/top/user_interest">{{user_interest}}</a></li>
      </ul>
    </li>

    <li class="sidebar-item"><a class="sidebar-link" href="#tablesDropdown" data-bs-toggle="collapse">
      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
        <use xlink:href="#portfolio-grid-1"> </use>
      </svg><span>進階查詢</span></a>
    <ul class="collapse list-unstyled " id="tablesDropdown">
      <li><a class="sidebar-link" href="http://{{ request.get_host }}/advanced_search/user_interest">{{user_interest}}</a>
      </li>
    </ul>
  </li>

    <li class="sidebar-item"><a class="sidebar-link" href="#tablesDropdown" data-bs-toggle="collapse">
        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
          <use xlink:href="#portfolio-grid-1"> </use>
        </svg><span>特色分析</span></a>
      <ul class="collapse list-unstyled " id="tablesDropdown">
        <li><a class="sidebar-link" href="http://{{ request.get_host }}/special_ana/president_Lai">{{president_Lai}}</a>
        </li>
      </ul>
    </li>
    <!-- 
          <li class="sidebar-item"><a class="sidebar-link" href="#chartsDropdown" data-bs-toggle="collapse"> 
                  <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                    <use xlink:href="#sales-up-1"> </use>
                  </svg><span>Charts </span></a>
            <ul class="collapse list-unstyled " id="chartsDropdown">
              <li><a class="sidebar-link" href="charts.html">Charts</a></li>
              <li><a class="sidebar-link" href="charts-gauge-sparkline.html">Gauge + Sparkline</a></li>
            </ul>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="#formsDropdown" data-bs-toggle="collapse"> 
                  <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                    <use xlink:href="#survey-1"> </use>
                  </svg><span>Forms </span></a>
            <ul class="collapse list-unstyled " id="formsDropdown">
              <li><a class="sidebar-link" href="forms.html">Basics forms</a></li>
              <li><a class="sidebar-link" href="forms-advanced.html">Advanced forms</a></li>
              <li><a class="sidebar-link" href="forms-autocomplete.html">Autocomplete</a></li>
              <li><a class="sidebar-link" href="forms-dropzone.html">Files upload</a></li>
              <li><a class="sidebar-link" href="forms-texteditor.html">Text editor</a></li>
              <li><a class="sidebar-link" href="forms-validation.html">Validation</a></li>
            </ul>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="#componentsDropdown" data-bs-toggle="collapse"> 
                  <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                    <use xlink:href="#stack-1"> </use>
                  </svg><span>Components </span></a>
            <ul class="collapse list-unstyled " id="componentsDropdown">
              <li><a class="sidebar-link" href="components-cards.html">Cards</a></li>
              <li><a class="sidebar-link" href="components-calendar.html">Calendar</a></li>
              <li><a class="sidebar-link" href="components-gallery.html">Gallery</a></li>
              <li><a class="sidebar-link" href="components-loading-buttons.html">Loading buttons</a></li>
              <li><a class="sidebar-link" href="components-map.html">Maps</a></li>
              <li><a class="sidebar-link" href="components-notifications.html">Notifications</a></li>
              <li><a class="sidebar-link" href="components-preloader.html">Preloaders</a></li>
            </ul>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="#pagesDropdown" data-bs-toggle="collapse"> 
                  <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                    <use xlink:href="#multiple-windows-1"> </use>
                  </svg><span>Pages </span></a>
            <ul class="collapse list-unstyled " id="pagesDropdown">
              <li><a class="sidebar-link" href="pages-contacts.html">Contacts</a></li>
              <li><a class="sidebar-link" href="pages-invoice.html">Invoice</a></li>
              <li><a class="sidebar-link" href="login.html">Login page</a></li>
              <li><a class="sidebar-link" href="login-2.html">Login v.2 <span class="badge bg-info ms-1 small">New</span></a></li>
              <li><a class="sidebar-link" href="pages-profile.html">Profile</a></li>
              <li><a class="sidebar-link" href="pages-pricing.html">Pricing table</a></li>
            </ul>
          </li> -->
  </ul><span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">其他</span>
  <ul class="list-unstyled">

  </ul>
</nav>