{% extends 'app_special_ana/special_ana_base.html' %}
{% load static %}
{% block head_script %}

{% endblock %}

{% block big_title %}{{LegislativeYuan_caucus}}{% endblock %}
{% block small_title %}{{LegislativeYuan_caucus}}{% endblock %}

{% block special_ana_content %}
<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-header border-bottom border-dash-dark-1">
            <h4>十一屆立院黨團聲量觀測站</h4>
        </div>
        <div class="card-body">
            <p class="card-text">網路聲量是什麼？ <br>計算新聞報導提及的文章則數，聲量越高表示能見度越高。<br>感染力、影響力、正向力、或溫度:指的是正負面情緒新聞篇數所占之百分比。</p>
        </div>
        <div class="card-footer text-muted" id="latest_news_time"> 最新收錄時間：xxxx/xx/xx</div>
    </div>
    <div class="card mb-4">
        <div class="card-header p-0 border-bottom border-dash-dark-1"
            style="background-image: url('{% static "img/kmt.jpg" %}'); background-size: cover; background-position: center; height: 130px;">
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">中國國民黨</h4>
                <span class="text-muted fs-6" id="KMT_count">總聲量：X篇　X次</span>
            </div>

        </div>
        <div class="card-footer text-muted">
            <div class="row text-center w-100" id="KMT_foot">
                <div class="col">
                    <span class="text-success" data-type="good">正面：00%</span>
                </div>
                <div class="col">
                    <span class="text-info" data-type="mid">中立：00%</span>
                </div>
                <div class="col">
                    <span class="text-primary" data-type="bad">負面：00%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header p-0 border-bottom border-dash-dark-1"
            style="background-image: url('{% static "img/dpp.jpg" %}'); background-size: cover; background-position: center; height: 130px;">
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">民主進步黨</h4>
                <span class="text-muted fs-6" id="DPP_count">總聲量：X篇　X次</span>
            </div>

        </div>
        <div class="card-footer text-muted">
            <div class="row text-center w-100" id="DPP_foot">
                <div class="col">
                    <span class="text-success" data-type="good">正面：00%</span>
                </div>
                <div class="col">
                    <span class="text-info" data-type="mid">中立：00%</span>
                </div>
                <div class="col">
                    <span class="text-primary" data-type="bad">負面：00%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header p-0 border-bottom border-dash-dark-1"
            style="background-image: url('{% static "img/tpp.jpg" %}'); background-size: cover; background-position: center; height: 130px;">
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">台灣民眾黨</h4>
                <span class="text-muted fs-6" id="TPP_count">總聲量：X篇　X次</span>
            </div>

        </div>
        <div class="card-footer text-muted">
            <div class="row text-center w-100" id="TPP_foot">
                <div class="col">
                    <span class="text-success" data-type="good">正面：00%</span>
                </div>
                <div class="col">
                    <span class="text-info" data-type="mid">中立：00%</span>
                </div>
                <div class="col">
                    <span class="text-primary" data-type="bad">負面：00%</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="card mb-4">
        <div class="card-header border-bottom border-dash-dark-1">
            <h4>聲量分布情況</h4>
        </div>
        <div class="card-body">
            <p class="card-text"><a href="#" style="pointer-events: none;"><b>依據新聞類別統計網路聲量</b></a>｜各類別出現關鍵字的新聞</p>
            <canvas id="smallBar" style="display: block; " class="chartjs-render-monitor"></canvas>
        </div>

    </div>
    <div class="card mb-4">
        <div class="card-header border-bottom border-dash-dark-1">
            <h4>聲量變化</h4>
        </div>
        <div class="card-body">
            <p class="card-text"><a href="#" style="pointer-events: none;"><b>依據時間顯示聲量的變化</b></a>｜從最新收錄時間往回4周</p>
            <canvas id="Line" style="display: block;" class="chartjs-render-monitor"></canvas>
        </div>

    </div>
</div>

<!-- LegislativeYuan_caucus_引入js_自定義js-->
<script src="{% static 'js\LegislativeYuan_caucus.js' %}"></script>
{% endblock %}