{% extends "base.html" %}
{% load static %}
{% block apps_content %}

<!--special_ana_base_引入js_chart.js，好看長條圖-->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<!--special_ana_base_引入js_自定義js-->
<script src="{% static 'js\special_ana_base.js' %}"></script>
{% block head_script %}
{% endblock %}

<div class="page-content form-page">
    <!-- special_ana_base_頁面大標題-->
    <div class="bg-dash-dark-2 py-4">
        <div class="container-fluid">
            <h2 class="h5 mb-0">{% block big_title %}{% endblock %}</h2>
        </div>
    </div>
    <!-- special_ana_base_頁面索引-->
    <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3 px-0">
                <li class="breadcrumb-item"><a href="/special_ana/base/" style="pointer-events: none;">特色分析</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% block small_title %}{% endblock %}</li>
            </ol>
        </nav>
    </div>
    <!-- special_ana_base_頁面主板塊-->
    <section class="pt-0">
        <div class="container-fluid">
            <div class="row gy-4">
                <!-- special_ana_base_APP複寫區塊_開始-->
                {% block special_ana_content %}
                {% endblock %}
                <!-- special_ana_base_APP複寫區塊_結束-->
            </div>
        </div>
    </section>
</div>
{% endblock %}